*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #FF7A6E;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
}
h1 {
	font-family: 'Covered By Your Grace', cursive;
	color: #FFEBE0;
	text-transform: uppercase;
	font-size: 4em;
}
#siteContainer {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.leftNav {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
    width: 200px;
    height: 100px;
    border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
    padding: 25px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}
#leftNavShop{
	background-image: url(../images/pinkfogmountain.jpg);
	background-size: cover;
}
#leftNavAbout{
	background-image: url(../images/pinkclouds.jpg);
	background-size: cover;
}
#leftNavContact{
	background-image: url(../images/beachflamingo.jpg);
	background-size: cover;
}
#leftNavEmail{
	border-bottom: 1px solid black;
}
.productImages {
	width: 25%;
	margin:30px auto;
	float:left;
}
