*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #FFC9B5;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}
header {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
#siteContainer {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	border: 20px;
}
h1 {
  font-family: 'Covered By Your Grace', cursive;
  color: #FFEBE0;
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
  height: 175px;
  padding: 25px;
  background-color: #FF7A6E;
}
h1:hover {
  color: black;
}
.leftNav {
	text-transform: uppercase;
  color: white;
  text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
  height: 175px;
  padding: 25px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-size: cover;
  background-color: #E8C66A;
  position: relative;
}
.leftNav p {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.leftNav:hover {
  color: black;
}
#leftNavShop{
	background-image: url(../images/oceanpier.jpg);
}
#leftNavAbout{
	background-image: url(../images/pinkclouds.jpg);
}
#leftNavContact{
	background-image: url(../images/pinkocean.jpg);
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.right-section {
 float: right;
  width: 70%;
}
.productImages {
  width: 100%;
  height: 700px; 
  background-repeat: no-repeat;
  background-position: center center;
}
#three_column {
  padding: 30px;
  width: 100%;
  margin-top: 30px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#left {
    width: 30%;
    float: left;
    text-align: center;
    vertical-align: top;
}
input[type=text] {
    padding: 10px 16px;
    display: inline-block;
    text-align: center;
    float: left;
    width: 300px;
}
#join {
  text-align: center;
  margin: 3px;
}
button {
    background-color: black;
    color: white;
    padding: 8px 14px;
    border: none;
    width: 300px;
    margin-top: 3px;
}
.signupbtn:hover {
    background-color: white;
    color: black;
}
.signupbtn {
    float: left;
}
.container {
    padding: 0px 16px;
    vertical-align: top;
}

#center {
    float: left;
    padding: 10px;
    margin-left: 40px;
    width: 30%;
    text-align: center;
}
#heart {
    font-size: 2em;
    color: black;
}
#heart:hover {
    color: red;
}
#right {
    padding: 10px;
    float: right;
    width: 30%;
    text-align: center;
 }
 .fa {
  padding: 10px;
  font-size: 5em;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  background: black;
  color: white;
  margin: 5px 5px;
}
.fa:hover {
    color: black;
    background: white;
 }


